
<header>
  <ul>
  <li><a [routerLink]="['about']" [routerLinkActive]="['actived']">about</a></li>
  <li><a [routerLink]="['bier']" [routerLinkActive]="['actived']">biers</a></li>
  <li id="logo"><img src="../assets/images/beer.png"></li>
  <li><a [routerLink]="['create']" [routerLinkActive]="['actived']">create</a></li>
  <li><a [routerLink]="['web']" [routerLinkActive]="['actived']">about the site</a></li>
</ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
<footer>
  The web site was developped by somebdy who likes bier and Web-developping &copy;
</footer>

